.card-body-ped{
   display: flex;
}
.dado-produto{
    display: grid;
    font-weight: 700;
    font-size: 17px;
    word-spacing: 10px;
    padding-bottom: 10px;
    text-align: justify;
    word-spacing: 200px;
}
.produto-item{
    margin-top: 20px;
    padding: 0px;
}
.product-card__image{
    width: 200px;
    height: 200px;
    margin-right: 10px;
}